

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    color: white;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/19/22/52/coding-1841550_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

header {
    text-align: center;
    padding: 2rem;
    color: rgb(246, 245, 248);
    font-family: 'Roboto Mono', monospace;
}


.section {
    padding: 2rem;
    margin: 2rem auto;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    border-radius: 10px;
}

.section h2 {
    color: #e74c3c;
    text-align: center;
}

.section p {
    line-height: 1.6;
}

.section a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.section a:hover {
    color: #2980b9;
}


#competences {
    font-family: 'Roboto Mono', monospace;
    background-color: #000509;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}





#signature {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    margin-top: 50px;
    color: #3498db; 
    font-weight: bold;
    font-size: 24px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(52, 152, 219, 0.8); 
}

#competences ul {
    list-style-type: none;
    padding: 0;
}

#competences li {
    margin-bottom: 10px;
    border: 1px solid #3498db;
    padding: 10px;
    border-radius: 5px;
}

#about, #section {
    font-family: 'Roboto Mono', monospace;
    background-color: #000305;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}


#formations, #certifications {
    font-family: 'Roboto Mono', monospace;
    background-color: #000305;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#formations ul, #certifications ul {
    list-style-type: none;
    padding: 0;
}

#formations li, #certifications li {
    margin-bottom: 10px;
    border: 1px solid #3498db;
    padding: 10px;
    border-radius: 5px;
}


.loader {
    background-color: #2980b9;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
}

.loader__element {
    border-radius: 100%;
    border: 8px solid #fff;
    margin: 16px;
}

.loader__element:nth-child(1) {
    animation: preloader 0.6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

#competences {
    font-family: 'Roboto Mono', monospace;
    background-color: #000509;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#competences ul {
    list-style-type: none;
    padding: 0;
}

#competences li {
    margin-bottom: 10px;
    border: 1px solid #3498db;
    padding: 10px;
    border-radius: 5px;
}

#competences li:not(:contains('HTML')),
#competences li:not(:contains('CSS')),
#competences li:not(:contains('JavaScript')),
#competences li:not(:contains('Langage C')),
#competences li:not(:contains('Algorithmie')),
#competences li:not(:contains('Excel')),
#competences li:not(:contains('Calme')),
#competences li:not(:contains('Attentif')) {
    display: none; 
}


.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0;
    padding: 15px 20px;
    transition: background-color 0.3s ease; 
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.navbar a:hover {
    color: #ddd;
    background-color: #555; 
    border-radius: 5px;
}
img { 
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index:-1;    
}